$white: #fff;
$gray-text: #292923;
$subtle-gray: #878780;
$gray-200: #e2e2da;
$moderate-red: #c2483f;
$yellow: #eeecb2;
$cream-background: #f3f3ec;


$color-white: #ffffff;
$color-black: #000000;
$color-saturated-black: #111111;
$color-saturated-white: #cccccc;

$font-gray: #757575;
$font-fade-gray: #7f858f;
$font-fade-cream: #e4e5df;

$border-line-white: #eee;

$orange: #ff5000;
$red: #ff1e3c